#/usr/bin/env python
PACKAGE = "rplidar_distance"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("MAXCDF",double_t,0,"MAX CDF threthold",1,0,1)
gen.add("MAXPDF",double_t,0,"MAX PDF threthold",0.15,0,1)
gen.add("MINPDF",double_t,0,"MIN PDF threthold",0.03,0,1)
gen.add("kp",double_t,0,"kp",1,0,10)
gen.add("ki",double_t,0,"ki",0,0,1)
gen.add("kd",double_t,0,"kd",0,0,1)
exit(gen.generate(PACKAGE,"rplidar_distance","rplidar_dist"))
